/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

.picsNav {
    display: none;
}

/* animation for navbar links 
.navbarlinks {
    transition: transform .2s;
}

.navbarlinks:hover {
    transform: scale(1.2);
}

*/


/* hr below "about" */
.outlineHr {
    outline: solid;
    outline-color: white;
    width: 130px;
    outline-width: 1px;
    margin-left: 0;
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}

/* all stuff for modal */
.projectModalContainer {
    display: block; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
}

.modalContentTop {
    overflow: auto; /* Enable scroll if needed */
}

.modalContentBottom {
    overflow: auto; /* Enable scroll if needed */
}