/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

/* animation for navbar links */
.navbarlinks {
    transition: transform .2s;
}

.navbarlinks:hover {
    transform: scale(1.2);
}


/* hr below "about" */
.outlineHr {
    outline: solid;
    outline-color: white;
    width: 130px;
    outline-width: 1px;
    margin-left: 0;
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}

/* about paragraph */
.about {
    font-family: sans-serif;
    font-size: 16px;
}

.lang {
    height: 300px;
    transition: transform .2s;
}

.lang:hover {
    transform: scale(1.05);
}

.ruby {
    margin-top: 20px;
}

.python {
    margin-top: 100px;
}