html, body {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(226, 223, 216); 
    scroll-behavior: smooth;

    /* added with pic */
    height: 100%;
    width: 100%;
    margin: 0;

    overflow-x: hidden;
    
}

#mobile {
    display: none;
}

.mobile {
    top: 30%;
    position: absolute;
}

.hr-top {
    position: fixed;
    top: 1%;
    left: 40%;
    right: 40%;
}

hr {
    height: 3px;
    background-color: black;
}

.bg-img {
    position: fixed;
    left: 40%;
    top: 20%;

}

.name {
    font-family: Arial Bold, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(30px + 30 * ((100vw - 600px) / 600));

    position: fixed;
    left: 19.8%;
    top: 30%;
}

.teardrop {
    position: fixed;
    top: 39%;
    left: 46.5%;
    
}

.noun {
    font-style: italic;
    font-weight: lighter;
    font-size: calc(7px + 7 * ((100vw - 600px) / 600));

    position: fixed;
    left: 19.8%;
    top: 44%;
}

.about {
    font-size: calc(7px + 7 * ((100vw - 600px) / 600));
    
    line-height: 98%;

    position: fixed;
    left: 19.8%;
    top: 49%;
}

.corny {
    font-style: italic;
    font-weight: lighter;
    position: fixed;
    text-align: center;
    top: 93%;
    font-size: calc(5px + 5 * ((100vw - 600px) / 600));
}

.quotes {
    font-weight: bold;
    font-size: calc(8px + 8 * ((100vw - 600px) / 600));
}

.japanese {
    position: fixed;
    top: 96%;
    text-align: center;
}

.box-top-right {
    position: fixed;
    width: 6%;
    height: 8%;
    top: 5%;
    left: 85.5%;
    border-style: solid;
}

.morse {
    display: block;
}

.english {
    display: none;
    background-color: black;
}

.morse-text {
    line-height: 80%;
    font-weight: bold;
    font-size: calc(12px + 12 * ((100vw - 600px) / 600));
}

.floating-number-right {
    position: fixed;
    left: 85.5%;
    top: 18%;
}

.floating-number-right-text {
    font-weight: bold;
    font-size: calc(8px + 8 * ((100vw - 600px) / 600));
}

.date {
    color: rgb(226, 223, 216);
    font-size: calc(7px + 7 * ((100vw - 600px) / 600));

    position: fixed;
    top: 60%;
    left: 85%;

    transform: rotate(270deg);
}

.birth {
    position: fixed;
    top: 15%;
    left: 3%;
    /* line-height: 100%; */
    font-weight: bold;
    font-size: calc(7px + 7 * ((100vw - 600px) / 600));
    transform: rotate(270deg);
}

.birth-text {
    font-size: calc(7px + 7 * ((100vw - 600px) / 600));
    font-style: italic;
    font-weight: normal;
}

.github {
    position: fixed;
    top: 70%;
    left: 10%;
    font-size: calc(14px + 14 * ((100vw - 600px) / 600));
    cursor: pointer;
}

.linkedin {
    position: fixed;
    top: 70%;
    left: 13%;
    font-size: calc(14px + 14 * ((100vw - 600px) / 600));
    cursor: pointer;
}