html, body {
    font-family: monospace;
    color: black;
    scroll-behavior: smooth;

    /* added with pic */
    height: 100%;
    margin: 0;
    
}

.row-height {
    height: 400px;
}

.name {
    font-size: 5rem;
}

.bio {
    margin-top: -2%;
}

.github {
    font-size: 2rem;
    cursor: pointer;
}

.projectText {
    font-size: 1rem;
}

.lang {
    font-size: 2rem;
}