/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

/* animation for navbar links */
.navbarlinks {
    transition: transform .2s;
}

.navbarlinks:hover {
    transform: scale(1.2);
}

.outlineHr {
    outline: solid;
    outline-color: white;
    width: 260px;
    outline-width: 1px;
    margin-left: 0;
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}

/* hey, im ryan */
.hi {
    color: white;
}

/* responsive text */
.projectName {
    font-size: calc(11px + (22 - 11) * ((100vw - 300px) / (1600 - 300)));
}

/* responsive text */
.projectDescription {
    /* font-size: 1vw; */
    font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
}

p { word-break: break-all }

/* project cards */
.project {
    /* height: 300px; */
    transition: transform .2s;
}

/* for temporary project cards */
.projectTemp {
    height: 300px;
    transition: transform .2s;
}

/* for temporary project cards */
.projectTemp:hover {
    opacity: 0.05;
    transform: scale(1.05);
}

.project:hover {
    opacity: 0.05;
    transform: scale(1.05);
}