html {
    scroll-behavior: smooth;
  }

/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

/* animation for navbar links 
.navbarlinks {
    transition: transform .2s;
}

.navbarlinks:hover {
    transform: scale(1.2);
}

*/

.toTop {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 99;
    font-size: 18px;
    background-color: white;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.toTop:hover {
    background-color: black;
    color: white;
}


/* hr below "pics" */
.outlineHr {
    outline: solid;
    outline-color: white;
    outline-width: 10px;
    
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}


.enlarge {
    transition: transform .2s;
}

.enlarge:hover {
    transform: scale(1.05);
}


/* all stuff for modal */
.ModalContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*overflow: auto; /* Enable scroll if needed */
}

.modalContentTop {
    overflow: auto; /* Enable scroll if needed */
}

.modalContentBottom {
    overflow: auto; /* Enable scroll if needed */
}

.NameModal {
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.closeModal {
    border: none;
    color: black;
    left: -15%;
}


/* responsive text */
.picName {
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.imgCirlce {
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    display: none;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.arrow {
    display: inline-block;
    padding: 10px 15px;
  }
  
.arrow:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.previous {
    display: none;
    position: fixed;
    background-color: white;
    color: black;
    left: -15%;
    top: 50%;
    z-index: 1; /* Sit on top */
  }
  
.next {
    display: none;
    position: fixed;
    background-color: white;
    color: black;
    right: -15%;
    top: 50%;
    z-index: 1; /* Sit on top */
  }
  
.round {
    border-radius: 50%;
}

.subtitle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: yellow;
    font-family: Arial;
    font-size: 1.5rem;
    text-shadow: .1rem .1rem black;
    text-align: center;
}
