/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

/* animation for navbar links */
.navbarlinks {
    transition: transform .2s;
}

.navbarlinks:hover {
    transform: scale(1.2);
}


/* hr below "pics" */
.outlineHr {
    outline: solid;
    outline-color: white;
    outline-width: 10px;
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}


.enlarge {
    transition: transform .2s;
}

.enlarge:hover {
    transform: scale(1.05);
}


/* all stuff for modal */
.ModalContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
}

.modalContentTop {
    overflow: auto; /* Enable scroll if needed */
}

.modalContentBottom {
    overflow: auto; /* Enable scroll if needed */
}

#close {
    cursor: pointer;
    color: black;
}

.NameModal {
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}


/* responsive text */
.picName {
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

img {
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    display: none;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}
