/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

.outlineHr {
    outline: solid;
    outline-color: white;
    outline-width: 1px;
}

.projectHr {
    outline: solid;
    outline-color: white;
    outline-width: 1px;
    size: 105;
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}

.hi {
    color: white;
}

.about {
    font-family: sans-serif;
    font-weight: 400;
}

.project {
    height: 300px;
    /* background-color: #ede4cc; */
}

.project:hover {
    opacity: 0.05;
}

/* overlay for projects on the left */
.overlayL {
    opacity: 1.0;
}

/* overlay for projects on the right */
.overlayR {
    position: absolute;
    opacity: 1.0;
    height: 300px;
    left: 940px;
}