/* outline for navbar */
.outline {
    outline: solid;
    outline-color: white;
}

.outlineHr {
    outline: solid;
    outline-color: white;
    outline-width: 1px;
}

.projectHr {
    outline: solid;
    outline-color: white;
    outline-width: 1px;
    size: 10px;
}

/* ryan burke at top */
.name {
    font-weight: bold;
    font-size: 30px;
}

.hi {
    color: white;
}

.about {
    font-family: sans-serif;
    font-weight: 400;
}

.project {
    height: 300px;
    /* background-color: #ede4cc; */
}

.project:hover {
    height: 300px;
    opacity: 0.05;
}

/* overlay for projects on the left */
.overlayL {
    position: absolute;
    opacity: 1.0;
    height: 300px;
    width: 400px;
    background-color: black;
    /* background-color: rgb(231, 247, 93); */
}

/* overlay for projects on the right */
.overlayR {
    margin-left: 560px;
    position: absolute;
    opacity: 1.0;
    height: 300px;
    width: 400px;
    background-color: black;
}